body {
    background: -webkit-linear-gradient(90deg,#1b3666,#1f6394);
    background: linear-gradient(90deg,#1b3666,#1f6394);
}

#city {
    text-align: center;
    overflow: unset;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 50px;
    background: -webkit-linear-gradient(90deg,#d5bdaf,#f5ebe0,#edede9);
    background: linear-gradient(90deg,#d5bdaf,#f5ebe0,#edede9);
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 50px;
    background: -webkit-linear-gradient(90deg,#edede9,#f5ebe0,#d5bdaf);
    background: linear-gradient(90deg,#edede9,#f5ebe0,#d5bdaf);
    border-radius: 5px;
}

button:active {
    opacity: 0.6;
}

button:hover {
    border: 2px;
}

#inp {
    position: absolute;
    width: 250px;
    height: 200px;
    margin-left: 40%;
    margin-top: 15%;
}

#temp {
    color: #edede9;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}