body {
    font-family: Arial, serif;
}

#but1 {
    margin-top: 40px;
    width: 200px;
    height: 50px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 180px;
    height: 50px;
    position: absolute;
}

#menu2 {
    margin-left: 230px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 180px;
    height: 50px;
    position: absolute;
}

#menu3 {
    margin-left: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    width: 180px;
    height: 50px;
}

.menbut {
    margin: 10px;
}


#stat {
    font-size: 30px;
    border: none;
}

#newmine {
    position: absolute;

}